
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodApp</title>
</head>
<body>

 
  <a href="#maincontent" class="skip-link">Skip To Content </a>
  <header>
       <nav class="navbar" id="drawer">
          <h1 href="#" class="header__title">FoodApp</h1>
          <ul class="nav__list">
            <li class="nav__item"><a href="/" class="nav-link">Menu</a></li>
            <li class="nav__item"><a href="#" class="nav-link">Favorite</a></li>
            <li class="nav__item"><a href="https://github.com/malikfajar1750" target="blank_"class="nav-link">About Us</a></li>
          </ul>
          
            <a class="hamburger" href="#">☰</a>
          
       </nav>
 </header>

   <!-- herro elment -->
   <div class="image-hero">
    <div class="h2-hero">
        <h2>Get Join in Food App</h2>
    </div>    
   </div>
   <h3 class="heading4">Explore Food in App </h3>
   
   <main id="maincontent" class="img-container">
     <div class="card">
       <img src="https://restaurant-api.dicoding.dev/images/medium/08" width="450" alt="gambar1" class="img_card">
       <h4><a href="" class="none">Makan enak</a></h4>
       <p>Makanan Enak adalah sebuah  masakan dalam memasak yang anda suka ketika ada koki hidangan makan bisa di saji dengan enak dan mantap untuk di makan  yang penuh musik yang nyaman</p>
       <p class="p-front">Malang</p>
      
     </div>
     <div class="card">
       <img src="https://restaurant-api.dicoding.dev/images/medium/07" width="450" alt="gambar1" class="img_card">
       <h4><a href="" class="none">Makan Restoran</a></h4>
       <p>Makan Bersama di restoran Adalah hal yang sudah biasa ketika makan bersama di temani dengan kawan kawan ataupun saudara dengna view yang sangnat indah ketika anda makan bersama</p>
       <p class="p-front">Bandung</p>
     </div>
     <div class="card">
       <img src="https://restaurant-api.dicoding.dev/images/medium/29" width="550" alt="gambar1" class="img_card">
     <h4> <a href="" class="none">Lampu Restoran</a></h4> 
       <p>lampu malam di Restoran ketika anda dengan pasangan anda maupun saudra anda yang anda suka ketika anda melakukan makan malam di cafe ataupun di restora bintang 5 lima dengan view yang indah</p>
       <p class="p-front">Kalideres</p>
     </div>
     <div class="card">
       <img src="./images/heros/hero-image_4.jpg" width="550" alt="gambar1" class="img_card">
      <h4><a href="" class="none">Gorengan dan lemon</a></h4> 
       <p>gorengan dan lemon adalah makan keseharian kita bagi kita gorengan adalah sebuah makan yang sudah ada di jaman dulu ketika makan ini sangat laris di jaman nya namun masih ada saat ini </p>
       <p class="p-front">Surabaya</p>
     </div> 
     <div class="card">
       <img src="./images/heros/hero-image_7.jpg" width="550" alt="gambar1" class="img_card">
       <h4><a href="" class="none">Salat di pagi hari</a></h4>
       <p>Salat di pagi hari memang sudah biasa namun saat berolahraga masih bisa di makan ketika selesai olahraga dengan minuman lemon dan makan yang sangat bergizi, namun Salat sudah jadi makan yang sangat populer</p>
       <p class="p-front">Bekasi</p>
     </div>
     <div class="card">
       <img src="./images/heros/hero-image_6.jpg" width="550" alt="gambar1" class="img_card">
      <h4> <a href="" class="none">Makan Mahal</a></h4>
       <p>hidangan Makan Mahal sangat di gandurngi bsgi orang kaya karena orang kaya sering makan mahal degna view yang mewah dengan makan mahal orang kaya suka makan yang sangat mahal dan berkualitas</p>
       <p class="p-front">Aceh</p>
     </div>
   </main>
    
   <footer>
     Copyright © 2022-Food App
   </footer>

</body>
</html>